{% extends "layout.html" %}

{% block content %}

<div class="row">
    <div class="col-8">
        {% for post in posts %}
        <div class="card mb-3">
            <div class="card-body">
                <h4 class="card-title">{{ post.author }}</h4>
                <h6 class="card-subtitle mb-2 text-muted">{{ post.date_posted }}</h6>
                <p class="card-text">{{ post.content }}</p>
                <a href="#" class="card-link">Like</a>
                <a href="#" class="card-link">RePost</a>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="featured col-4">
        <div class="card">
            <div class="card-header">
                Featured
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Vestibulum at eros</li>
            </ul>
        </div>
    </div>
</div>





{% endblock content %}